<%= form_with(model: pet, local: true, html: { multipart: true }) do |form| %>
  <% if pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, "åå‰" %>
    <%= form.text_field :name, class: "form-control", placeholder: "å¤§äº‹ãªå®¶æ—ã®ãŠåå‰ã¯ï¼Ÿ" %>
  </div>

  <div class="form-group">
    <%= form.label :species, "ç¨®é¡žï¼‘" %>
    <%= form.text_field :species, class: "form-control", placeholder: "ä¾‹: çŠ¬ã€çŒ«ã€ãƒãƒ ã‚¹ã‚¿ãƒ¼ã€é³¥ã€ã†ã•ãŽãªã©..." %>
  </div>

  <div class="form-group">
    <%= form.label :age, "å¹´é½¢" %>
    <%= form.number_field :age, class: "form-control", placeholder: "æŽ¨å®šã§ã‚‚æ§‹ã„ã¾ã›ã‚“ðŸ™Œ" %>
  </div>

  <div class="form-group">
    <%= form.label :kind, "ç¨®é¡žï¼’" %>
    <%= form.text_field :kind, class: "form-control", placeholder: "ä¾‹: ãƒãƒ¯ãƒ¯ã€ãƒ­ã‚·ã‚¢ãƒ³ãƒ–ãƒ«ãƒ¼ã€ã‚¸ãƒ£ãƒ³ã‚¬ãƒªã‚¢ãƒ³ãªã©..." %>
  </div>

  <div class="form-group">
    <%= form.label :image, "ãƒšãƒƒãƒˆã®ç”»åƒ" %>
    <%= form.file_field :image, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "ç™»éŒ²ã™ã‚‹", class: "btn btn-primary" %>
  </div>
<% end %>
