<h1>ペット情報を編集</h1>

<%= form_with model: @pet, local: true, html: { multipart: true } do |form| %>
  <% if @pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pet.errors.count, "つのエラーにより、このペットの保存が禁止されました：") %></h2>
      <ul>
        <% @pet.errors.full_messages.each do |message| %>
          <li><%= message.gsub('Name ', '').gsub('Species ', '').gsub('Age ', '').gsub('Kind ', '') %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, '名前' %>
    <%= form.text_field :name, class: 'form-control' %>
    <span>(大事な家族のお名前は？)</span>
    <% if @pet.errors[:name].present? %>
      <span class="error"><%= @pet.errors[:name].first %></span>
    <% end %>
  </div>
  
  <div class="form-group">
    <%= form.label :species, '種類' %>
    <%= form.text_field :species, class: 'form-control' %>
    <span>(例:犬、猫、ハムスター、鳥、うさぎなど。。。)</span>
    <% if @pet.errors[:species].present? %>
      <span class="error"><%= @pet.errors[:species].first %></span>
    <% end %>
  </div>
  
 <div class="form-group">
    <%= form.label :birth_date, '生年月日' %>
    <div class="birthdate-fields">
      <div class="form-group">
        <%= form.select :birth_year, options_for_select((1900..Date.today.year).to_a.reverse), { prompt: '年' }, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= form.select :birth_month, options_for_select((1..12).to_a), { prompt: '月' }, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= form.select :birth_day, options_for_select((1..31).to_a), { prompt: '日' }, class: 'form-control' %>
      </div>
    </div>
    <span>(年、月、日を選択してください)</span>
  </div>
  
  <div class="form-group">
    <%= form.label :kind, 'カラー' %>
    <%= form.text_field :kind, class: 'form-control' %>
    <span>(例:チワワ、ロシアンブルー、ジャンガリアンなど。。。)</span>
    <% if @pet.errors[:kind].present? %>
      <span class="error"><%= @pet.errors[:kind].first %></span>
    <% end %>
  </div>
  
  <div class="form-group">
    <%= form.label :image, 'ペットの画像' %>
    <%= form.file_field :image, class: 'form-control' %>
    <% if @pet.errors[:image].present? %>
      <span class="error"><%= @pet.errors[:image].first %></span>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.submit '更新する', class: 'btn btn-primary' %>
    <%= link_to 'キャンセル', pet_path(@pet), class: 'btn btn-secondary' %>
  </div>
<% end %>