<h1>ペット管理</h1>
<p>ここでペットの登録・管理ができます。<br>他のユーザーのペットものぞいてみよう！</p>

<%= link_to '新しいペットを登録', new_pet_path, class: 'btn-primary' %>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>種類</th>
      <th>年齢</th>
      <th>カラー</th>
      <th>登録者</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @pets.each do |pet| %>
      <tr>
        <td><%= pet.name %></td>
        <td><%= pet.species %></td>
        <td><%= pet.age %></td>
        <td><%= pet.kind %></td>
        <td><%= pet.user.username %></td>
        <td>
          <%= link_to '詳細', pet_path(pet), class: 'btn-primary' %>
          <% if pet.user == current_user || current_user.admin? %>
            <%= link_to '編集', edit_pet_path(pet), class: 'btn-primary' %>
            <%= link_to '削除', pet_path(pet), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn-primary' %>
            <%= link_to '健康記録', pet_health_records_path(pet), class: 'btn-primary' %> <!-- 健康記録へのリンクを追加 -->
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
