<!-- app/views/pets/index.html.erb -->

<h1>ペット管理</h1>
<p>ここでペットの管理ができます。</p>

<%= link_to '新しいペットを登録', new_pet_path %>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>種類</th>
      <th>年齢</th>
      <th>カラー</th>
      <th>登録者</th> <!-- 新しく追加する列 -->
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @pets.each do |pet| %>
      <tr>
        <td><%= pet.name %></td>
        <td><%= pet.species %></td>
        <td><%= pet.age %></td>
        <td><%= pet.kind %></td>
        <td><%= pet.user.username %></td> <!-- ここにユーザー名を表示 -->
        <td>
          <%= link_to '詳細', pet_path(pet) %>
          <% if pet.user == current_user %>
            <%= link_to '編集', edit_pet_path(pet) %>
            <%= link_to '削除', pet, method: :delete, data: { confirm: '本当に削除しますか？' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
