<h1>グループ編集</h1>

<%= form_with(model: @group, local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div class="field">
    <%= form.label :user_ids, "メンバーを選択" %><br>
    <%= form.collection_select :user_ids, User.all, :id, :username, {}, { multiple: true } %>
  </div>
  <div class="actions">
    <%= form.submit "Update Group" %>
  </div>
<% end %>

<%= link_to '戻る', groups_path %>
