<% if @group.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@group.errors.count, "つのエラーにより、このグループの保存が禁止されました：") %></h2>
    <ul>
    <% @group.errors.full_messages.each do |message| %>
      <li><%= message.gsub('Name ', '').gsub('Description ', '') %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h1><%= action_name == 'new' ? 'グループ作成' : 'グループ編集' %></h1>
<%= form_with(model: @group, local: true) do |form| %>
  <div class="field">
    <%= form.label :name, "名前" %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :description, "説明" %>
    <%= form.text_area :description %>
  </div>
  <div class="field">
    <%= form.label :user_ids, "メンバーを選択" %><br>
    <%= form.collection_check_boxes :user_ids, User.where.not(id: current_user.id), :id, :username do |b| %>
      <div class="checkbox">
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
  </div>
  <div class="actions">
    <%= form.submit action_name == 'new' ? "グループを作成" : "グループを更新", class: 'btn btn-primary' %>
  </div>
<% end %>
<%= link_to '戻る', groups_path, class: 'btn btn-primary' %>