<h1><%= @group.name %></h1>
<p><%= @group.description %></p>

<p>
  <%= link_to '編集', edit_group_path(@group), class: 'btn btn-primary' %>
  <%= link_to '削除', @group, method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-primary' %>
  <%= link_to 'グループ一覧に戻る', groups_path, class: 'btn btn-primary' %>
</p>

<h3>メンバー</h3>
<ul>
  <% @group.users.each do |user| %>
    <li><%= user.username %></li>
  <% end %>
</ul>

<h2>ミニチャット</h2>

<%= form_with(model: [@group, @message], local: true) do |form| %>
  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= form.submit "送信", class: 'btn btn-primary' %>
  </div>
<% end %>

<ul>
  <% @group.messages.each do |message| %>
    <li>
      <p><%= message.content %></p>
      <p>投稿者: <%= message.user.username if message.user %></p>
      <% if message.user == current_user || current_user.admin? %>
        <%= link_to '削除', group_message_path(@group, message), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
      <% end %>
    </li>
  <% end %>
</ul>