<h1>ユーザ一覧</h1>

<%= form_with(url: search_users_path, method: :get, local: true) do %>
  <%= label_tag :search, "検索" %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "検索", name: nil %>
<% end %>

<% @users.each do |user| %>
  <div class="user">
    <h2><%= link_to user.email, user_path(user) %></h2>
  </div>
<% end %>
