<h1><%= @user.username %>のプロフィール</h1>

<p>
  <strong>Email:</strong>
  <% if current_user == @user || current_user.admin? %>
    <%= @user.email %>
  <% else %>
    ****
  <% end %>
</p>

<p>
  <strong>登録日時:</strong>
  <%= @user.created_at.strftime('%Y-%m-%d %H:%M:%S') %>
</p>

<h2>投稿一覧</h2>
<% if @user.posts.any? %>
  <ul>
    <% @user.posts.each do |post| %>
      <li><%= link_to post.title, post_path(post) %></li>
    <% end %>
  </ul>
<% else %>
  <p>投稿はありません。</p>
<% end %>

<%= link_to '戻る', users_path, class: 'btn btn-primary' %>