<div class="container">
  <h1>PawPals</h1>
  <% if user_signed_in? %>
    <nav>
      <%= link_to root_path do %>
        <i class="fa fa-home"></i> ホーム
      <% end %>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="fa fa-sign-out-alt"></i> ログアウト
      <% end %>
      <%= link_to new_post_path do %>
        <i class="fa fa-plus"></i> 新しい投稿
      <% end %>
      <%= link_to posts_path do %>
        <i class="fa fa-list"></i> 投稿一覧
      <% end %>
    </nav>
  <% else %>
    <nav>
      <%= link_to root_path do %>
        <i class="fa fa-home"></i> ホーム
      <% end %>
      <%= link_to new_user_session_path do %>
        <i class="fa fa-sign-in-alt"></i> ログイン
      <% end %>
      <%= link_to new_user_registration_path do %>
        <i class="fa fa-user-plus"></i> 新規登録
      <% end %>
      <%= link_to users_guest_sign_in_path, method: :post do %>
        <i class="fa fa-user-secret"></i> ゲストログイン
      <% end %>
    </nav>
  <% end %>
</div>
