<nav class="navbar">
  <ul class="navbar-nav">
    <li class="nav-item">
      <%= link_to root_path, class: 'nav-link' do %>
        <i class="fas fa-home"></i> ホーム
      <% end %>
    </li>
    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
          <i class="fas fa-sign-out-alt"></i> ログアウト
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to new_post_path, class: 'nav-link' do %>
          <i class="fas fa-plus"></i> 新しい投稿
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to posts_path, class: 'nav-link' do %>
          <i class="fas fa-th-list"></i> 投稿一覧
        <% end %>
      </li>
      <% if current_user.admin? %>
        <li class="nav-item">
          <%= link_to admin_users_path, class: 'nav-link' do %>
            <i class="fas fa-user-cog"></i> ユーザー管理
          <% end %>
        </li>
      <% end %>
      <li class="nav-item">
        <%= link_to groups_path, class: 'nav-link' do %>
          <i class="fas fa-users"></i> グループ
        <% end %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to new_user_session_path, class: 'nav-link' do %>
          <i class="fas fa-sign-in-alt"></i> ログイン
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to new_user_registration_path, class: 'nav-link' do %>
          <i class="fas fa-user-plus"></i> サインアップ
        <% end %>
      </li>
    <% end %>
    <li class="nav-item">
      <%= link_to about_path, class: 'nav-link' do %>
        <i class="fas fa-info-circle"></i> 概要
      <% end %>
    </li>
  </ul>
</nav>
