<h1 class="center-text">投稿一覧</h1>

<div class="post-form">
  <%= form_with(url: search_posts_path, method: :get, local: true) do %>
    <div class="form-group">
      <%= label_tag :query, "検索" %>
      <%= text_field_tag :query, params[:query], class: "form-control search-input" %>
      <%= submit_tag "検索", class: "btn-primary search-btn" %> <!-- ボタンのスタイルを統一 -->
    </div>
  <% end %>
</div>

<div class="post-list">
  <% @posts.each do |post| %>
    <div class="post-item">
      <div class="post-title">
        <h2><%= link_to post.title, post, class: 'post-link' %></h2>
      </div>
      <div class="post-content">
        <p><%= truncate(post.content, length: 100) %></p>
      </div>
      <% if current_user&.admin? || post.user == current_user %>
        <div class="post-actions">
          <%= link_to '編集', edit_post_path(post), class: "btn-primary" %>
          <%= link_to '削除', post, method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn-primary" %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
