<h1 class="center-text"><%= @post.title %></h1>
<p class="center-text"><%= @post.content %></p>

<% if @post.image.present? %>
  <p class="center-text">
    <strong>Image:</strong>
    <%= image_tag @post.image, class: "post-image" %>
  </p>
<% end %>

<p class="center-text">投稿者: <%= @post.user.username %></p>

<% if @post.user == current_user || current_user&.admin? %>
  <div class="center-text">
    <%= link_to '編集', edit_post_path(@post), class: "btn btn-primary" %> |
    <%= link_to '削除', @post, method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-primary" %>
  </div>
<% end %>

<h2 class="center-text">コメント</h2>

<%= form_with(model: [ @post, @post.comments.build ], local: true) do |form| %>
  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content, class: "form-control" %>
  </div>
  <div class="actions center-text">
    <%= form.submit "コメントを追加", class: "btn-primary" %>
  </div>
<% end %>

<% @post.comments.each do |comment| %>
  <div class="comment">
    <p><%= comment.content %></p>
    <p>投稿者: <%= comment.user.username if comment.user %></p>
    <% if comment.user == current_user || current_user&.admin? %>
      <% if comment.persisted? %>
        <%= link_to '編集', edit_post_comment_path(@post, comment), class: "btn btn-primary" %> |
        <%= link_to '削除', post_comment_path(@post, comment), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
<% end %>